.functionTitle{
    margin-bottom:20px;
    margin-top: 30px;
    color: rgb(59, 164, 255);
}

button{
    margin:30px;
    margin-bottom:80px;
    padding:10px;
    border: none;
    background-color: rgb(59, 164, 255);
    color:aliceblue;
}